<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <configEnableRecentInputGUI>false</configEnableRecentInputGUI>
  <configControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Y</DeviceOffset>
      <InvertControl>true</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>RotationZ</DeviceOffset>
      <InvertControl>true</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons30</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>RotationY</DeviceOffset>
      <InvertControl>true</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons28</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons7</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons39</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons41</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons33</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons35</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons37</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons15</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>true</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons43</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons45</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons14</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons39</DeviceOffset>
      <InvertControl>true</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>RotationX</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Z</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons45</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons33</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons30</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons37</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons35</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons39</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons41</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>true</Enabled>
      <DeviceId>1</DeviceId>
      <DeviceOffset>Buttons43</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
    <ConfigControls>
      <Enabled>false</Enabled>
      <DeviceId>0</DeviceId>
      <DeviceOffset>X</DeviceOffset>
      <InvertControl>false</InvertControl>
    </ConfigControls>
  </configControls>
</Settings>